<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" deleteOldFileOnStartup="true" xsi:type="File" fileName="${basedir}/logs/${longdate:cached=True}.log"
        layout="${time}|${level:uppercase=true}|${threadname}|${logger:shortName=true}|${message:exceptionSeparator=\r\n:withException=true}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
</nlog>
